apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  # JWT Secrets (프로덕션에서는 반드시 변경!)
  JWT_ACCESS_SECRET: "k8s-dev-access-secret-change-in-production"
  JWT_REFRESH_SECRET: "k8s-dev-refresh-secret-change-in-production"
  ADMIN_REGISTER_SECRET: "k8s-admin-secret-123"
