apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: 339712948064.dkr.ecr.ap-northeast-2.amazonaws.com/flash-tickets/pay
    newTag: latest
