apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: 339712948064.dkr.ecr.ap-northeast-2.amazonaws.com/flash-tickets/pay
  newName: 339712948064.dkr.ecr.ap-northeast-2.amazonaws.com/flash-tickets/pay
  newTag: 04da862bbf7bba54f3ef88312b81db4b8cfea4d2
