apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: default
spec:
  ports:
  - name: amqp
    port: 5672
    protocol: TCP
    targetPort: 5672
  - name: management
    port: 15672
    protocol: TCP
    targetPort: 15672
  - name: metrics
    port: 15692
    protocol: TCP
    targetPort: 15692
  selector:
    app: rabbitmq
  type: ClusterIP
